#totalFeatured {
    height: 100vh;
}

#navList {
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    border-bottom: solid #000000;
}

.navItem {
    margin: 5px;
    flex-basis: 20%;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
    transition: all 0.5s ease-out;
    color:#C5A500;
    font-weight: bolder;
    transition: all 1s ease-in-out;
    font-size: 30px;
}
.navItem:hover {
    background-color: rgb(245, 245, 245);
}

#underline {
    height: 5px;
    background-color: black;
    width: 100%;
}