#totalFeatured {
    background-color: white;
}

#navList {
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: row;
    border-bottom: solid  #998000;
}  

.navItem {
    margin: 5px;
    flex-basis: 20%;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.5s ease-out;
}
.navItem:hover {
    background-color: rgba(143, 143, 143, 0.3);
}

.navText {
    font-size: 30px;
    color:#D3CB00;
    font-weight: bolder;
}

.underline {
    transform:translateY(7px);
    height: 7px;
    background-color: #998000;
    width: 100%;
    display: none;
    border-radius: 5px 5px 0px 0px;
}

#sneakerBox {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
}
#streetwearBox {
    margin: auto;
    display: none;
}
#watchBox {
    margin: auto;
    display: none;
}
#handBox {
    margin: auto;
    display: none;
}
#jewelleryBox {
    margin: auto;
    display: none;
}

#oasis {
    width: 1200px;
    height: 770px;
}

.boxText {
    margin-left: 100px;
    transform: translateY(-500px);
}
.smallT {
    z-index: 2;
    text-align: left;
    font-weight: bolder;
    color: #918C00;
    font-size: 60px;
}
.bigT {
    z-index: 2;
    text-align: left;
    font-weight: bolder;
    color: #918C00;
    font-size: 100px;
}

#innerSneakerBox {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.card {
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 250px;
    border: solid #ececec thin;
    border-radius: 25px;
}