#totalHeader {
    height: 120vh;
    width: 100%;
    background-color: lightblue;
    
}

#headerDunes {
    position: absolute;
    width: 100vw;
    left: 0;
    right: 0;
    bottom: -150px;
}

#logo {
    width: 400px;
    position: absolute;
    top: 40px;
    margin: auto;
    left: 0;
    right: 0;
}

.sun {
    position: absolute;
    margin-top: 87px;
    margin-left: -114px;
    width: 50px;
    transition: all 1s ease-in-out;
}
.sun:hover {
    transform: scale(1.5);
    margin-top: 77px;
}

.searchBox{
    display: flex;
    justify-content: center;
    transform: translateY(300px);
}